<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


        <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
                <property name="soapVersion">
                        <util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_12" />
                </property>
        </bean>
        		
    <sws:annotation-driven/>
    
    <context:component-scan base-package="haf.cwrw.service" />

        <sws:dynamic-wsdl id="GetCustomer" portTypeName="CustomerManagement"
                createSoap12Binding="true" createSoap11Binding="false" locationUri="/customerservice"
                targetNamespace="http://localhost/customerservice-ws/">
                <sws:xsd location="/WEB-INF/CustomerSchema.xsd" />
        </sws:dynamic-wsdl>


</beans>
